// Place all the styles related to the questionone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blue{
    display: none;
}
.red{
    display: none;
}
.yellow{
    display: none;
}
.green{
    display: none;
}
.purple{
    display: none;
}
.orange{
    display: none;
}